extends layout

block content
  h1= `Delete Category: ${category.name}`

  p Are you sure you want to delete this category?

  form(action=category.url method="POST")
    input(type="hidden" name="_method" value="DELETE")
    button.btn.btn-danger(type="submit") Yes, delete

  a.btn.btn-secondary(href=category.url) No, cancel
